<h1>Editing Statuskehadiranpengunamakmal</h1>

<%= render 'form', statuskehadiranpengunamakmal: @statuskehadiranpengunamakmal %>

<%= link_to 'Show', @statuskehadiranpengunamakmal %> |
<%= link_to 'Back', statuskehadiranpengunamakmals_path %>
